{% extends 'base_no_footer.html' %}
{%block content%}
    <!--   M A I N   -->
    <main>
        <aside class="addinfo-aside">
            <span >
                Você quer contribuir para o Charts?
            </span>
            <span class="margin-span">
                Só responda as perguntas e clique em “salvar” que essas informações irão ser contabilizadas por nós.
            </span>
            <span>             
                Eu sei que é muita coisa 😅 
            </span>
            <span>
                Complete aos poucos s2
            </span>
        </aside>


    <!--   S E C T I O N  -->
        <section class="addinfo-section">
            <form action="/inserir-info" method="post" class="inner-section-div">
            <div class="special-info-div">
                <div class="add-info-div">
                    <span>
                        Qual turma teve as melhores apresentações?
                    </span>
                    <div class="add-info-input-div">
                        <select required="true" name="turma">
                            <option>CMR1</option>
                            <option>TIN1A</option>
                            <option>TIN1B</option>
                            <option>TAM1</option>
                            <option>TME1</option>

                            <option>CMR2</option>
                            <option>TIN2A</option>
                            <option>TIN2B</option>
                            <option>TAM2</option>
                            <option>TME2</option>

                            <option>CMR3</option>
                            <option>TIN3A</option>
                            <option>TIN3B</option>
                            <option>TIN3</option>
                            <option>TME3</option>
                            <option>TAM3</option>
                        </select>
                    </div>
                </div>
                <div class="add-info-div">
                    <span>
                        Nosso site está sendo interessante?
                    </span>
                    <div class="add-info-input-div">
                        <select required="true" name="Achou o site interessante">
                            <option>Sim</option>
                            <option>Não</option>
                        </select>
                    </div>
                </div>
                <div class="add-info-div">
                    <span>
                        Como você veio até este evento? (Diga só o meio. Ex: "Onibus","A pé")
                    </span>
                    <div class="add-info-input-div">
                        <input required="true" name="Como veio"type="text">
                    </div>
                </div>
            </div>
            <div class="addinfo-section-wrapper">
                <div class="left-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu animal favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true"  name="Animal Favorito"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua musica favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Musica Favorita"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua cor favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Cor Favorita"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua idade?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Idade"type="number">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quanto voce tem de altura (ex: "1,60")?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Metros de Altura" type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do país?
                        </span>
                        <div class="add-info-input-div">
                            <select required="true" name="Já saiu do país">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do estado?
                        </span>
                        <div class="add-info-input-div">
                            <select required="true" name="Já saiu do estado">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você trabalha?
                        </span>
                        <div class="add-info-input-div">
                            <select required="true" name="Está trabalhando">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantos livros já leu esse ano?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Quantidade de livros lidos esse ano"type="number">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Filme Favorito"type="text">
                        </div>
                    </div>
                </div>
                <div class="right-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu gênero de filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Genero de Filme"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu gênero de música favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Genero de Musica"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual a cor dos seus olhos?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Cor dos olhos"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você está em um relacionamento romântico no momento?
                        </span>
                        <div class="add-info-input-div">
                            <select required="true" name="Relacionamento romantico">
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você tem animal de estimação??
                        </span>
                        <div class="add-info-input-div">
                            <select required="true" name="Tem pet" >
                                <option>Sim</option>
                                <option>Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual o melhor animal de estimação na sua opinião?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Melhor animal de estimação"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantas refeições você já fez hoje?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true" name="Quantidade de refeições no dia"type="number">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Sua casa tem quantos quartos?
                        </span>
                        <div class="add-info-input-div">
                            <input required="true"  name="Quantidade de quartos em casa"type="number">
                        </div>
                    </div>
                </div>
            
            <div class="alter-btn">
                <input type="submit" id="btn" value="Salvar">
            </div>
            </div>
                
        </form>
        <script>
    
        </script>
        </section>
        {%endblock%}

    </main>

    </body>
</html>