{% extends 'base_no_footer.html' %}
{%block content%}

<main class="changepass-main">
    <aside class="alter-profile-image">
        <div class="btn-div" id="goBack">
            <span>⬅️</span>
        </div>
    </aside>

    <section class="changepass-section">
        <div class="top-inner-section-div">
            <div class="top-inner-section-div-span">
                <span>
                    Se você quer trocar sua senha, precisamos confirmar se você lembra a anterior.
                </span>
            </div>


            <form action="/profile/change_password/check_pass" method="post">
                <div class="input-div">
                    <div class="input-div-span">
                        <span>
                            Senha:
                        </span>
                    </div>

                    <div class="input-inner-div">
                        <input type="text" name="pass_to_check" id="pass_to_check">
                    </div>
                    
                </div>
                <div class="alter-btn">
                    <input type="submit" class="alterBtn" id="btn" value="Confirmar">
                </div>
            </form>

        </div>

        <div class="low-inner-section-div{{pass_validity}}">
            <div class="low-inner-section-div-span">
                <span>
                    Muito bem! Coloque sua senha nova e confirme-a logo em seguida.
                </span>
                <span>
                    Você finalmente terá trocado sua senha.
                </span>
            </div>
            <form action="/profile/change_password/alter_pass" method="post">
                <div class="input-div">
                    <div class="input-div-span">
                        <span>
                            Nova senha:
                        </span>
                    </div>
                    <div class="input-inner-div">
                        <input type="text" name="pass_to_alter">
                    </div>
                </div>
                <div class="input-div">
                    <div class="input-div-span">
                        <span>
                            Confirmar nova senha:
                        </span>
                    </div>
                    <div class="input-inner-div">
                        <input type="text" name="pass_to_alter_confirm">
                    </div>
                </div>
                <div class="alter-btn">
                    <input type="submit" id="btn" value="Alterar">
                </div>
            </form>
        </div>
    </section>
</main>
</body>
{%endblock%}
